<mat-drawer-container class="example-container" autosize>
  <!-- SIDEBAR -->

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="image-container">
      <img width="100" src="../../assets/img/avatar.png" />
    </div>
    <div class="auth-name">
      <p>
        <b>{{ (authUserObs$ | async)?.email }}</b>
      </p>
    </div>

    <p [appTitleFontSize]="20" class="mt-2">Secciones</p>
    <mat-nav-list>
      <a [routerLink]="link.path" mat-list-item *ngFor="let link of links">
        <mat-icon *ngIf="link.icon">{{ link.icon }}</mat-icon> {{ link.title }}
      </a>
      <!-- <a (click)="logout()" mat-list-item> Cerrar sesión </a> -->
    </mat-nav-list>
  </mat-drawer>

  <!-- WRAPPER -->

  <div class="example-sidenav-content">
    <!-- TOOLBAR -->

    <mat-toolbar color="accent" class="relative">
      <button
        mat-icon-button
        type="button"
        (click)="drawer.toggle()"
        class="display-sidenav-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Programación Reactiva</span>
      <span class="absolute right-0 pr-5">
        {{ (authUserObs$ | async)?.email }}
      </span>
    </mat-toolbar>

    <!-- MAIN -->
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
